@import '../../styles/style.scss';
.inscription {

    .result {
      position: absolute;
      display: flex;
      background-color: #ffffff;
      width:100%;
      right: 0;
      max-height: 5* 45px;
      overflow-y: auto;
      z-index: 2;
      border-radius: 4px;
      top: 60px;
      transition: all 200ms ease;
      flex-direction: column;
      opacity: 10;
      z-index: 1000;
      filter: drop-shadow(0px 0px 31px rgb(255, 255, 255));
      
      span {
        width: 100%;
          line-height: 45px;
          font-size: 16px;
          color: $black;
          padding-left: 16px;
          position: relative;
          cursor: pointer;
          transition: all 200ms ease;
  
        &:hover {
          background-color: rgba($black, 0.05);
        }
        &:after {
          content: "";
          width: 100%;
          left: 0;
          position: absolute;
          border-bottom: 1px solid #eaeaea;
        }
      }   
    
  }
}