
@import "../../styles/style.scss";
  
.profil-wrapper {
  background: #e5e5e5;

  .couverture {
    width: 100%;
    height: 214px;
  }

  .couverture img {
    width: 100%;
    height: 100%;
  }

  .divProfilImgAndName {
    position: relative;
    padding-top: 4.375rem;
    padding-bottom: 1.313rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nomMedcin {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #303030;
    margin-bottom: 0;
  }

  .specialite {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #303030;
  }

  .photoPro {
    background-color: #303030;
    display: flex;
    width: 179px;
    height: 179px;
    border-radius: 50%;
    bottom: 62%;
    position: absolute;
  }

  .skelet {
    border-radius: 50% !important;
    position: absolute;
  }

  .photoPro img {
    aspect-ratio: 2/2;
    border-radius: 50%;
    cursor: pointer;
  }

  .miniMenu {
    position: absolute;
    top: 100%;
    right: -36%;
    width: 323px;
    background-color: #ffffff !important;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px;
    padding: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 !important;
  }

  ul li {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #303030;
    cursor: pointer;
  }

  .PhotoUpload {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .voirPhoto {
    position: absolute;
    top: 0%;
    width: 600px;
    height: 400px;
    left: -100%;
    display: flex;
    background: linear-gradient(90deg,
        rgba(201, 137, 221, 0.9) -8.54%,
        rgba(133, 202, 250, 0.9) 108.12%);
  }

  .voirPhoto #img {
    width: 50%;
    margin: auto;
  }

  .cancel {
    width: 15px;
    position: absolute;
    top: 3%;
    right: 3%;
  }

  .active {
    display: block;
  }

  .activePhoto {
    display: flex;
  }

  .inactive {
    display: none;
  }

  .menu {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.875rem;
  }

  .menuItem {
    padding-inline: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #303030;
    padding-block: 0.875rem;
  }

  .menuItem:hover {
    color: #303030;
  }

  .activeLink:hover,
  .activeLink {
    color: #c989dd;
    font-weight: 600;
    padding-inline: 2rem;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #c989dd;
    padding-block: 0.875rem;
  }

  /*******************section general********************/
  .sections {
    padding-top: 13px;
    padding-bottom: 6.188rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }


  .sectionPresentation {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(109, 192, 249, 0.5);
    padding: 2.2rem 2.42rem 1.7rem 1.7rem;

    .section1 {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;

      .disc {
        width: 100%;
        height: 20vh;
      }

      .imagHistory {
        display: flex;
      }
    }

    .section2,
    .section3,
    .section4 {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;

      .diplome {
        display: flex;
        align-items: center;
      }
    }
  }

  .trais {
    width: 34px;
    border-top: 0.5px solid #aaaaaa;
    margin-inline: 2.12rem;
  }

  .ms {
    margin-left: 2rem;
  }

  .me {
    margin-right: 1rem;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .justif {
    justify-content: space-between;
  }

  .w-75 {
    width: 80%;
  }

  .select {
    border: 0;
  }

  .mb {
    margin-bottom: 1rem !important;
  }

  .divTarif {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .prix {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #c989dd;
  }

  .mb {
    margin-bottom: 1rem;
  }


  .container {
    width: 100%;

    .titreDeChamp {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #303030;
      margin-block: 0;
    }

    .sectionGeneral {
      margin: auto;
      width: 100%;
      max-width: 1040px;
      background: #ffffff;
      border-radius: 10px;
      padding: 2.2rem 2.42rem 1.7rem 1.7rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      border: 1px solid rgba(109, 192, 249, 0.5);

      .hautSec {
        display: flex;
        justify-content: space-between;

        .part1,
        .part2 {
          width: 40%;
          display: flex;
          justify-content: space-between;
        }
      }

      .basSec {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        .expertise {
          width: 90%;
        }

        .part3 {
          display: flex;
          margin-left: 2rem;

          p {
            margin-right: 1rem;
          }
        }
      }
    }

    .inputBorder:focus {
      border: 0px;
      border-color: transparent;
      outline: none;
    }

    .p {
      margin-left: 2rem;
      margin-bottom: 0;
    }

    .Info {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #303030;
    }

    .bg {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(170, 170, 170, 0.1);
      border-radius: 4px;
      padding: 7.5px 12px 7px;
      gap: 10px;
    }

    .iconIdit {
      cursor: pointer;
    }

    .Sauvegarder {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #9e58ff;
      background: transparent;
      border: 0;
      cursor: pointer;
    }

    .inputEdit {
      background: rgba(170, 170, 170, 0.2);
      border-radius: 4px;
      border: 0;
      margin-left: 5px;
      padding: 7.5px 12px 7px;
      margin-bottom: 4px;
    }
  }

  .sectionAdresse {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(109, 192, 249, 0.5);

    .leftPart {
      padding: 2.2rem 2.42rem 0 1.7rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .imgMap {
      height: 100%;

      img {
        height: 100%;
      }
    }

    .Info {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #303030;
    }
  }

  .AdresseInfo {
    margin-left: 2rem;
  }
}