body .error-boundary-page {
    height: 100vh;
    display: flex;
    align-items: center;
  
    @include media-breakpoint-down(sm) {
      height: auto;
      padding: 3.75rem 0rem;
    }
  
    h1 {
      font-weight: 600;
      font-size: 60px;
  
      color: #101828;
    }
  
    p {
      font-size: 20px;
      margin: 1rem 0 2rem;
      color: #667085;
    }
  }
  