// colors
$purple: #9e58ff;// eslint-disable-line color-contrast
$light-purple: #c989dd;// eslint-disable-line color-contrast
$blue: #6dc0f9;// eslint-disable-line color-contrast
$light-blue: #a6e0fa;// eslint-disable-line color-contrast
$grey: #aaaaaa;// eslint-disable-line color-contrast
$red: #e85555;// eslint-disable-line color-contrast
$green: #5fc657;// eslint-disable-line color-contrast
$black: #303030;// eslint-disable-line color-contrast
$orange: #fcb769;// eslint-disable-line color-contrast
$pink: #f48888;// eslint-disable-line color-contrast
$light-grey: #fafafa;// eslint-disable-line color-contrast
$fa-font-path: "../assets/fonts/Avenir" !default;
// Font
$ave-ultra-light: "Avenir_Next_LT_Pro_Ultra_Light" !important;
$ave-regular: "Avenir_Next_LT_Pro_Regular"!important;
$ave-demi: "Avenir_Next_LT_Pro_Demi"!important;
$ave-bold: "Avenir_Next_LT_Pro_Bold"!important;
$ave-heavy: "Avenir_Next_LT_Pro_Heavy"!important;
$ave-medium: "Avenir_Next_LT_Pro_It"!important;
