.content {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 16px;
  border-color: #c989dd;
  height: 744px; /* Adjusted to fit content */
  left: 322px;
  position: absolute;
  top: 172px;
  width: 1071px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .content-heading {
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 20px;
  }
  .frame-3l {
    align-items: flex-start;
    display: flex;
    left: 32px;

    position: absolute;
    top: 116px;
    width: 1009px;
  }
  .agenda-tablel {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    tr {
      height: 60px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      line-height: 15.6px;
      letter-spacing: 0.03em;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      color: #303030;
      font-weight: bold;
    }
  }
  .framel {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    left: 284px;
    position: absolute;
    top: 240px;
  }
  .imgl {
    height: 144.14px;
    position: relative;
    width: 160px;
  }

  .frame-2l {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 25px;
    position: relative;
  }

  .vous-n-avez-aucunel {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22.4px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }

  .button-wrapperl {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 274px;
  }

  .button-2l {
    align-items: center;
    align-self: stretch;
    background-color: #6dc0f9;
    border-radius: 8px;
    display: flex;
    gap: 14px;
    height: 46px;
    justify-content: center;
    overflow: hidden;
    padding: 14px 24px;
    position: relative;
    width: 100%;
  }

  .plus-circlel {
    height: 24px !important;
    margin-bottom: -3px !important;
    margin-top: -3px !important;
    position: relative !important;
    width: 24px !important;
  }

  .titre-2l {
    color: #ffffff;
    font-family: "Avenir Next LT Pro", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.14px;
    line-height: 129.99999523162842%;
    margin-top: -2px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .agenda-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #303030;
    font-size: 18px;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }
  }

   .frame {
    align-items: center;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0px 2.77px 2.21px #00000005, 0px 6.65px 5.32px #00000007, 0px 12.52px 10.02px #00000009,
      0px 22.34px 17.87px #0000000b, 0px 41.78px 33.42px #0000000d, 0px 100px 80px #00000012;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 14px 30px 30px;
    width: 720px;
  }
  
   .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }
  
   .icon-instance-node {
    height: 18px !important;
    position: relative !important;
    width: 18px !important;
  }
  
   .text-wrapper {
    align-self: stretch;
    color: #303030;
    font-family: "Montserrat", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
  }
  
   .frame-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
   .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 30px;
    position: relative;
    width: 100%;
  }
  
   .frame-5 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    position: relative;
  }
  
   .form {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
   .label {
    color: var(--black);
    font-family: "Montserrat", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.13px;
    line-height: 18.2px;
    margin-top: -1px;
    position: relative;
    width: 170px;
  }
  
   .frame-6 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
  }
  
   .input-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    height: unset !important;
    width: 100% !important;
  }
  
   .group {
    align-self: stretch;
    height: 109px;
    margin-right: -6px;
    position: relative;
    width: 100%;
  }
  
   .overlap {
    height: 40px;
    left: 0;
    position: absolute;
    top: 21px;
    width: 315px;
  }
  
   .rectangle {
    border: 0.5px solid;
    border-color: #303030;
    border-radius: 4px;
    height: 17px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 19px;
  }
  
   .titre-2 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 114px;
  }
  
   .img {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 315px;
  }
  
   .overlap-group {
    height: 40px;
    left: 0;
    position: absolute;
    top: 69px;
    width: 315px;
  }
  
   .rectangle-2 {
    border: 0.5px solid;
    border-color: #303030;
    border-radius: 4px;
    height: 17px;
    left: 17px;
    position: absolute;
    top: 11px;
    width: 19px;
  }
  
   .titre-3 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 84px;
  }
  
   .titre-4 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Demi", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 94px;
  }
  
   .group-2 {
    align-self: stretch;
    height: 157px;
    margin-right: -8px;
    position: relative;
    width: 100%;
  }
  
   .titre-5 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Demi", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 54px;
  }
  
   .overlap-2 {
    background-image: url(https://c.animaapp.com/nRbSI0ip/img/rectangle-3-4.svg);
    background-size: 100% 100%;
    height: 40px;
    left: 0;
    position: absolute;
    top: 21px;
    width: 315px;
  }
  
   .titre-6 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 124px;
  }
  
   .rectangle-3 {
    border: 0.5px solid;
    border-color: #303030;
    border-radius: 4px;
    height: 16px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 17px;
  }
  
   .overlap-3 {
    background-image: url(https://c.animaapp.com/nRbSI0ip/img/rectangle-3-4.svg);
    background-size: 100% 100%;
    height: 40px;
    left: 0;
    position: absolute;
    top: 69px;
    width: 315px;
  }
  
   .titre-7 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 146px;
  }
  
   .rectangle-4 {
    border: 0.5px solid;
    border-color: #303030;
    border-radius: 4px;
    height: 16px;
    left: 17px;
    position: absolute;
    top: 11px;
    width: 17px;
  }
  
   .overlap-4 {
    background-image: url(https://c.animaapp.com/nRbSI0ip/img/rectangle-3-4.svg);
    background-size: 100% 100%;
    height: 40px;
    left: 0;
    position: absolute;
    top: 117px;
    width: 315px;
  }
  
   .titre-8 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 60px;
  }
  
   .titre-9 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Demi", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 171px;
  }
  
   .titre-10 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 56px;
  }
  
   .img-2 {
    height: 16px;
    left: 282px;
    position: absolute;
    top: 12px;
    width: 17px;
  }
  
   .rectangle-5 {
    border: 0.5px solid;
    border-color: #303030;
    border-radius: 4px;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 12px;
    width: 17px;
  }
  
   .titre-11 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 41px;
  }
  
   .rectangle-6 {
    border: 0.5px solid;
    border-color: #303030;
    border-radius: 4px;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 11px;
    width: 17px;
  }
  
   .titre-12 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 63px;
  }
  
   .frame-7 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(109, 192, 249), rgb(201, 137, 221)) 1;
    border-radius: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    padding: 60px 30px;
    position: relative;
    width: 100%;
  }
  
   .ellipse {
    height: 128.2px;
    position: relative;
    width: 128.2px;
  }
  
   .text-wrapper-2 {
    color: #303030;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
   .frame-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 9px;
    position: relative;
    width: 100%;
  }
  
   .titre-13 {
    color: var(--black);
    font-family: "Montserrat", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.13px;
    line-height: 18.2px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .frame-9 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
  }
  
   .day {
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
   .titre-wrapper {
    align-items: flex-start;
    background-color: #aaaaaa1a;
    border: 1px solid;
    border-color: #aaaaaa33;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    position: relative;
  }
  
   .titre-14 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Demi", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 14px;
  }
  
   .frame-10 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
   .frame-11 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
   .div-wrapper {
    align-items: center;
    border: 1px solid;
    border-color: #aaaaaa33;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
    position: relative;
  }
  
   .titre-15 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .titre-16 {
    color: #30303080;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  .frame-12 {
    align-items: center;
    border: 1px solid;
    border-color: #aaaaaa33;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 14px;
    position: relative;
  }
  
  .titre-17 {
    color: #30303080;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.13px;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .frame-13 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #aaaaaa33;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 14px 18px;
    position: relative;
  }
  
   .frame-14 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #aaaaaa33;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px 18px;
    position: relative;
    width: 315px;
  }
  
  .titre-18 {
    color: #303030;
    font-family: "Avenir Next LT Pro-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .line {
    align-self: stretch;
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
 .button-instance {
    display: inline-flex !important;
    flex: 0 0 auto !important;
    width: unset !important;
  }
  
   .design-component-instance-node {
    align-self: unset !important;
    border: unset !important;
    border-color: unset !important;
    border-radius: 6px !important;
    display: inline-flex !important;
    flex: 0 0 auto !important;
    height: unset !important;
    padding: 14px 16px !important;
    width: unset !important;
  }
  
   .button-2 {
    color: #aaaaaa !important;
  }
  
   .button-3 {
    width: 179px !important;
  }
  
   .button-4 {
    border-radius: 6px !important;
    flex: 0 0 auto !important;
    height: unset !important;
    padding: 14px 16px !important;
  }
  
}
